<div class="container">
<h1>Attività</h1>

<dl>
  <% @disciplines.each do |d| %>  
    <dt><%= d %></dt>
    <% d.calendars.each do |c| %>  
      <dd><%= link_to c, calendar_time_slots_path(c) %></dd>
    <% end %>
  <% end %>
</dl>

</div>
