<div class="container">
<h1>Aggiungi un commento</h1>

<%= simple_form_for [@game, @comment] do |comment| %>  
  <%= comment.input :name, label:false, as: :text %>  
  <%= comment.submit 'Invia', class: 'btn btn-primary btn-sm'  %>  
<% end %>
</div>
