<div class="container text-center">
  <p id="login_description">
  Accedi per poter commentare i blocchi dell'Eden Park e aggiungerne di nuovi.<br/>
  Al momento puoi usare solo con le credenziali di Google.
  </p>

  <div id="login_form">
    <p><%= link_to image_tag('btn_google_signin_light_normal_web.png'), google_login_path, class: 'btn btn-info' %></p>
  </div>
</div>
