<h1><%= @time_slot %> <%= link_to 'vai', discipline_time_slots_path(@time_slot.discipline_id) %>  </h1>

<ul>
  <% @bookings.each do |b| %>  
    <li><%= b.user.email %> <%= link_to 'delete', booking_path(b), method: :delete %>  </li>
  <% end %>
</ul>
