<div class="container">
  <% Game.find_each do |game| %>  
    <%= render partial: 'qrcode', locals: { game: game } %>  
    <% unless game.two_hands_start %>  
      <%= render partial: 'qrcode', locals: { game: game } %>  
    <% end %>
  <% end %>
</div>
