@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.home-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .m-2;
  @extend .py-5;
  width: 100%;
}
.home-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.games-list {
  .card {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);  
  }
  @extend .card-columns;
  column-count: 1;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    column-count: 4;
  }
}
.game {
  .game-card {
    margin: auto;
    @extend .card;
    max-width: 600px;
  }
  .game-header {
    @extend .card-header;
  }
  .game-body {
    @extend .card-body;
  }
  .game-footer {
    @extend .card-footer;
  }
  .game-reactions {
    font-size: 21px;
  }
  .comments {
    margin: auto;
    max-width: 600px;
    font-size: 14px;
  }
}
.game-title {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.game-author {
  @extend .float-right;
  @extend .text-muted;
}
.tag-item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #28a745;
  line-height: 1.5;
  border-radius: .25rem;
  font-weight: 80;
  font-size: 75%;
  padding: .100rem .30rem;
  margin: .100rem .30rem;
  @extend .my-1;
}
